<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>caifl's blog</title>
    <link href="bootstrap/css/bootstrap.min.css" th:href="@{/blog/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="css/cl-css.css" th:href="@{/blog/css/cl-css.css}" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" th:href="@{/blog/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="highlight/styles/railscasts.css" th:href="@{/blog/highlight/styles/railscasts.css}">
</head>
<body>
<div class="cl-header container-fluid">
    <div class="header-content container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="calmlog-index.html" style="margin-bottom: 10px;margin-top: 10px;">
                caifl's blog
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="calmlog-index.html" th:href="@{/blog/blog}">首页 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" th:href="@{/blog/blogList}">博文</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">分类</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">日记</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">关于</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="cl-cantainer container">
    <div class="row">
        <div class="col-md-9 cl-left">

            <div class="recommend-index">
                <div class="recommend-top">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="temporary-img/it1.jpg" th:href="@{/blog/temporary-img/it1.jpg}" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="temporary-img/it2.jpg" th:href="@{/blog/temporary-img/it2.jpg}" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="temporary-img/it3.jpg" th:href="@{/blog/temporary-img/it3.jpg}" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>


                </div>
<!--                <div class="recommend-bottom">-->
<!--                    <div class="recommend-item">-->
<!--                        <a href="calmlog-details.html"><img src="temporary-img/recommended-left.jpg" th:href="@{/blog/temporary-img/recommended-left.jpg}" class="img-fluid" alt=""></a>-->
<!--                    </div>-->
<!--                    <div class="recommend-item">-->
<!--                        <a href="calmlog-details.html"><img src="temporary-img/recommended-right.jpg" class="img-fluid" th:href="@{/blog/temporary-img/recommended-right.jpg}" alt=""></a>-->
<!--                    </div>-->
<!--                </div>-->

            </div>

<!--            <div class="cl-card">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-3 col-md-4 col-sm-12 cl-card-image"><a href="calmlog-details.html"><img src="temporary-img/list-image2.jpg" class="img-fluid" alt=""></a></div>-->
<!--                    <div class="col-lg-9 col-md-8 col-sm-12 cl-card-main">-->
<!--                        <h3 class="cl-card-main-title"><a href="calmlog-details.html">主题换肤设计小结</a></h3>-->
<!--                        <p class="cl-card-main-info">项目复盘对设计师的成长来说是一件很重要的环节，不仅可以巩固自己的设计理论，同时还可以与小伙伴们分享自己的小心得～</p>-->
<!--                        <p class="cl-card-more"><a href="calmlog-details.html">阅读更多...</a></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="cl-card" th:each="article:${page.list}">
                <div class="row">
<!--                    <div class="col-lg-3 col-md-4 col-sm-12 cl-card-image"><a href="calmlog-details.html"><img src="temporary-img/list-image3.jpg" class="img-fluid" alt=""></a></div>-->
                    <div class="col-lg-9 col-md-8 col-sm-12 cl-card-main">
                        <h3 class="cl-card-main-title col-lg-9 col-md-8 col-sm-12"><a href="calmlog-details.html" th:href="@{/blog/toArticle(id = ${article.id})}" th:text="${article.title}"></a></h3>
                        <p class="col-lg-2 col-md-2 col-sm-3" th:text="${article.category}"></p>
                        <p class="col-lg-7 col-md-6 col-sm-9" th:text="${article.label}"></p>
                        <p class="col-lg-9"><a th:href="@{/blog/toArticle(id = ${article.id})}">阅读更多...</a></p>
                    </div>
                </div>
            </div>







            <nav aria-label="Page navigation example">
<!--                <ul class="pagination justify-content-center">-->
<!--                    <li class="page-item disabled">-->
<!--                        <a class="page-link" href="#" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                            <span class="sr-only">Previous</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--                    <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                            <span class="sr-only">Next</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
                <div class="Page navigation">
                    <div  style="text-align: center">
                        <!--当前页数小于等于1时，上一页还是显示第一页的信息-->
                        <div th:if="${page.pageNum} le 1">
                            <a class="prev" th:href="@{/blog/blog(pn=1)}">&lt;&lt;</a>
                            <a class="num" th:href="@{/blog/blog(pn=${page.pageNum})}">上一页</a>
                            <span class="current" th:href="@{/blog/blog(pn=${page.pageNum})}" th:text="${page.pageNum}"></span>
                            <a class="num" th:if="${page.pageNum} lt ${page.pages}" th:href="@{/blog/blog(pn=${page.pageNum+1})}">下一页</a>
                            <a class="next" th:href="@{/blog/blog(pn=${page.pages})}">&gt;&gt;</a>
                        </div>
                        <!--当前页数大于等于最后一页时，点击下一页还是显示最尾页页的信息-->
                        <div th:if="${page.pageNum} != 1 and ${page.pageNum} ge ${page.pages}">
                            <a class="prev" th:href="@{/blog/blog(pn=1)}">&lt;&lt;</a>
                            <a class="num" th:href="@{/blog/blog(pn=${page.pageNum-1})}">上一页</a>
                            <span class="current" th:href="@{/blog/blog(pn=${page.pageNum})}" th:text="${page.pageNum}"></span>
                            <a class="num" th:href="@{/blog/blog(pn=${page.pageNum})}">下一页</a>
                            <a class="next" th:href="@{/blog/blog(pn=${page.pages})}">&gt;&gt;</a>
                        </div>
                        <!--非首尾页-->
                        <div th:if="${page.pageNum} gt 1 and ${page.pageNum} lt ${page.pages}">
                            <a class="prev" th:href="@{/blog/blog(pn=1)}">&lt;&lt;</a>
                            <a class="num" th:href="@{/blog/blog(pn=${page.pageNum-1})}">上一页</a>
                            <span class="current" th:href="@{/blog/blog(pn=${page.pageNum})}" th:text="${page.pageNum}"></span>
                            <a class="num" th:href="@{/blog/blog(pn=${page.pageNum+1})}">下一页</a>
                            <a class="next" th:href="@{/blog/blog(pn=${page.pages})}">&gt;&gt;</a>
                        </div>
                    </div>
                </div>
            </nav>

        </div>
        <div class="col-md-3 cl-right">
            <div class="right-card">

                <div class="right-card-main">
                    <div class="right-card-title">个人微信号</div>
                    <div class="cl-code">
                        <img src="temporary-img/meCode.jpg" th:src="@{/blog/temporary-img/meCode.png}" class="img-fluid" alt="">
                        <p>加好友私聊博主</p>
                    </div>

                </div>
            </div>

            <div class="right-card">

                <div class="right-card-main">
                    <div class="right-card-title">最新文章</div>
                    <div class="right-recommended"><a href="#"><img src="temporary-img/list-right.jpg" class="img-fluid" alt=""></a></div>
                    <ul class="right-recommended-list">
                        <li><a href="calmlog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>如何有效避免设计作品“空”？</a></li>
                        <li><a href="calmlog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>“线框”在设计中有哪些妙用？</a></li>
                        <li><a href="calmlog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>设计修图，为什么如此实用？</a></li>
                        <li><a href="calmlog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>如何提升作品的整体设计感？</a></li>
                        <li><a href="calmlog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>应该从哪些点审查作品的不足？</a></li>
                        <li><a href="calmlog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>详情页设计，应该从哪里入手？</a></li>
                        <li><a href="calmlog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>配色中的色，从哪里来？</a></li>
                        <li><a href="calmlog-details.html"><i class="fa fa-angle-right" aria-hidden="true"></i>设计画面太平，该怎么破？设计画面太平，该怎么破？设计画面太平，该怎么破？设计画面太平，该怎么破？设计画面太平，该怎么破？</a></li>

                    </ul>
                </div>
            </div>

            <div class="right-card">

                <div class="right-card-main">
                    <div class="right-card-title">博文分类</div>
                    <ul class="label">
                        <li><a href="#">JPress</a></li>
                        <li><a href="#">平面设计</a></li>
                        <li><a href="#">网页设计</a></li>
                        <li><a href="#">皮肤</a></li>
                        <li><a href="#">主题</a></li>
                        <li><a href="#">模板</a></li>
                        <li><a href="#">APP设计</a></li>
                        <li><a href="#">企业网站</a></li>
                        <li><a href="#">博客主题</a></li>
                        <li><a href="#">设计规则</a></li>
                        <li><a href="#">UI设计</a></li>
                        <li><a href="#">界面设计</a></li>
                        <li><a href="#">icon</a></li>
                        <li><a href="#">UI</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="container-fluid cl-footer">
    <div class="container">
        <div th:replace="footer::footer"></div>
    </div>
</div>
<script src="jquery/jquery.min.js" th:src="@{/blog/jquery/jquery.min.js}"></script>
<script src="bootstrap/js/bootstrap.min.js" th:src="@{/blog/bootstrap/js/bootstrap.min.js}"></script>
<script src="highlight/highlight.pack.js" th:src="@{/blog/highlight/highlight.pack.js}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    // function getArticle(obj){
    //     //拿到元素的value（即id），传给异步删除的请求
    //     var id = obj.getAttribute('value');
    //     console.log("///////////////////////////////////////////////"+id);
    //     $.ajax({
    //         type: 'GET',
    //         url: "/blog/toArticle",
    //         data: {'id':id},
    //     });
    //     layer.msg('已转换', {icon: 1, time: 1000});
        // layer.confirm('确认要删除吗？', function (index) {
        //     //发异步删除数据
        //     $(obj).parents("tr").remove();
        //     //在确认删除后，发送删除请求
        //     $.ajax({
        //         type: 'GET',
        //         url: "/article/deleteArticle",
        //         data: {'id':id},
        //     });
        //     layer.msg('已删除!', {icon: 1, time: 1000});
        // });

    // }
</script>
</body>
</html>